html, body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-grow: 1;
}

.main {
  display: flex;
  flex-grow: 1;
}

.window {
  width: 50%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.window-content {
  display: flex;
  flex-grow: 1;
}

.window-pane {
  flex-grow: 1;
}

textarea {
  resize: none;
  border: none;
  outline: none;
}