/* Dimension*/
html, body {
  height: 100vh;
  width: 100vw;
}
#input-content, #output-content {
  height: 50vh;
}
#main-input, #main-output {
  width: 40vw;
}
#key-right {
  width: 15%;
}

/* Flex*/
html, body, div {
  display: flex;
}
body, #main-input, #main-output {
  flex-flow: column;
}
body, #header-left, #header-right {
  flex-flow: column;
}
#input-content, #output-content {
  flex-flow: column;
}
#key-right, #key-options {
  flex-flow: column;
}
#input-content > div {
  flex-flow: column;
}
#main, #main-input, #main-output {
  flex: 1 1 auto;
}
#input-artist, #input-key, #header-left {
  flex: 1 1 auto;
}
#input-content, #output-content {
  flex: 1 1 auto;
}

/* Spacing*/
html, body {
  margin: 0%;
  padding: 0%;
}
#dropdown-arrow {
  margin: 2.5%;
  padding: 2.5%;
  margin-right: 0%;
  padding-right: 0%;
}
#main-input, #main-output {
  margin: 1%;
}
#main-input {
  margin-right: 0.5%;
}
#main-output {
  margin-left: 0.5%;
}
#input-title, #input-subtitle {
  margin-bottom: 0.5%;
}
#input-subtitle, #input-content {
  margin-top: 0.5%;
}
#input-artist {
  margin-right: 0.5%;
}
#input-title, #input-artist, #input-content, #key-left, #key-right {
  padding: 1%;
} 
#output-title, #output-artist, #output-content, #header-right {
  padding: 1%;
}
#footer, #output-footer {
  padding: 0.5%;
  padding-top: 0%;
}
#key-left {
  padding-right: 0%;
}
#input-key, #key-options > div {
  padding-left: 1%;
}

/* Alignment */
#footer, #output-footer {
  text-align: center;
  display: block;
}
.chord {
  text-align: center;
}

/* Border */
#key-left {
  border: 2px solid lightgray;
}
.box {
  border: 2px solid darkgray;
}
.box:focus, .box:hover {
  border: 2px solid dodgerblue;
  outline: 0px solid transparent;
}

/* Color */
body {
  background-color: lightgray;
}
.box {
  background-color: white;
}
.selected {
  background-color: dodgerblue;
  color: white;
}
#key-options > div:hover {
  background-color: lightgray;
}
.section::selection, br::selection, td::selection {
  background: none;
  color: none;
}
#key-left::selection, #input-key::selection, #key-options > div::selection {
  background: none;
}
.chord {
  color: blue;
}
.translucent {
  color: rgba(0, 0, 0, 0.5);
}
.transparent {
  color: transparent;
}

/* Font */
.title {
  font-size: 24px;
  font-weight: bolder;
}
.artist, .key, #dropdown-arrow {
  font-size: 20px;
  font-weight: bold;
}
.section {
  font-size: 18px;
  font-weight: bold;
}
body {
  font-size: 16px;
  font-family: "Noto Sans SC";
}
.copyright {
  font-size: 12px;
}
.chord {
  font-weight: bold;
}

/* Miscellaneous */
#example {
  display: none;
}
#input-title::-webkit-scrollbar, #input-artist::-webkit-scrollbar, #input-key::-webkit-scrollbar { 
  display: none; 
}
.options {
  display: none;
}
.show {
  display: flex;
}
#input-title, #input-artist, #input-key {
  overflow-x: scroll;
  white-space: nowrap;
}
#input-content, #main-output {
  overflow: auto; 
}
#header-right{
  white-space: nowrap;
}
#main-output {
  caret-color: transparent;
}
.box:focus {
  caret-color: black;
}
#key-left, #main-output > div {
  cursor: default;
}
#key-button, #key-options {
  cursor: pointer;
}